<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	
	<welcome-file-list>
		 <welcome-file>/WEB-INF/views/home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<!-- By default this servlet looks for a file called "s1-servlet.xml",
		which is a spring context xml, and loads all the beans from the xml into a
		new spring container -->
		<servlet-name>s1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/404.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>training.dao.DaoException</exception-type>
		<location>/WEB-INF/views/daoexception.jsp</location>
	</error-page>
</web-app>












